<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:targetSdkVersion="34"
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_Nhom20">
        <activity
            android:name=".SummaryForAdmin"
            android:exported="false" />
        <activity
            android:name=".SummaryEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ListResignationLetters"
            android:exported="false">
        </activity>
        <activity
            android:name=".EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".WorkOnTimeActivity"
            android:exported="false" />
        <activity
            android:name=".LateForWorkActivity"
            android:exported="false" />
        <activity
            android:name=".OffWorkActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".StatisticByDay"
            android:exported="false" />
        <activity
            android:name=".ResignationLetterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".WorkspaceActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".AddEmployees"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Create_workspace"
            android:exported="false" />
    </application>

</manifest>